[submodule "athrill"]
	path = athrill
	url = https://github.com/toppers/athrill.git
[submodule "athrill-target-ARMv7-A"]
	path = athrill-target-ARMv7-A
	url = https://github.com/toppers/athrill-target-ARMv7-A.git
[submodule "athrill-target-v850e2m"]
	path = athrill-target-v850e2m
	url = https://github.com/toppers/athrill-target-v850e2m.git
[submodule "toppers_utils"]
	path = toppers_utils
	url = https://github.com/mitsut/toppers_utils.git
[submodule "athrill-target-rh850f1x"]
	path = athrill-target-rh850f1x
	url = https://github.com/toppers/athrill-target-rh850f1x.git
